*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #eee;
    position: relative;
}
.container {
    border-radius: 5px;
    border: 10px double gold;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    width: calc(100svw - 20px);
    height: calc(100svh - 20px);
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scaleX(-1);
}
.download-btn {
  top: 15px;
  right: 35px;
  z-index: 10;
  padding: 8px;
  display: none;
  font-size: 20px;
  cursor: pointer;
  position: fixed;
  aspect-ratio: 2 / 1;
  border: 1px solid yellow;
}
body:hover .download-btn {
  display: block;
}
