html,
body {
    margin: 0;
    padding: 0;
    background: #eee;
}

.container {
    border-radius: 5px;
    border: 10px double gold;
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    width: calc(100svw - 20px);
    height: calc(100svh - 20px);
}

video {
    transform: scaleX(-1);
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    width: calc(100svw - 20px);
    height: calc(100svh - 20px);
}
